body {
    margin: 0;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 24px 450px 120px;
    gap: 120px;
}

.header-left {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.header-links {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 24px 450px 120px;
}