body {
    margin: 0;
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 24px 450px 120px;
}

.header-left {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.header-links {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 24px 450px 120px;
}

.hero-left {
    width: 450px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

#hero-button {
    margin-top: 12px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 900;
}

.hero-right {
    background-color: gray;
    color: #F9FAF8;
    width: 500px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}